.containerParent{

    display: flex;
    height:100% ;
    
    
}

.leftPane{
    flex: 1;
    background-color: #172F6A;
    color: white;
    border-radius: 20px;
    
}

.mainPage{
    flex:3;
    text-align: center;
    padding: 70px 0;
}

ul{
    list-style: none;
    justify-content: space-evenly;
    font-size: large;
    align-content: center;
    
}
li {
    margin: 80px 0;
    
  }


html, body{
    height: 100%;
}
.role{
    margin-left: 10px;
}
.logout{
    margin-bottom: 10px;
    margin-left: 10px;
}

footer{
    background-color: #172F6A;
    text-align: center;
    padding: 2%;
    height: 10%;
    color: white;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
    transition: margin-right 2s ease-in-out;
    transition-delay: 1s;
    
}
